/* Тут пиши основные стили */
.code{
    font-style: italic;
    font-family: "Courier New", monospace;
}

.header {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 34px;
    color: rgba(0,0,0,0.84);
    text-align: left;
    line-height: 39px;
    margin-top: 55px;
    margin-bottom: 10px;
}

h1{
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 42px;
    line-height: 44px;
}

h2{
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 34px;
    color: rgba(0,0,0,0.84);
    text-align: left;
    line-height: 39px;
    margin-top: 55px;
    margin-bottom: 10px;
}

p{
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.84);
    text-align: left;
    line-height: 33px;
    margin: 0;
}

nav {
    background-color: #faf9f8;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

ul {
    padding: 15px 25px;
    margin: 8px 0;
}

ul li {
    list-style: none;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size:20px;
    color:#333333;
    text-align:left;
    line-height:25px;
    display: inline;
    margin: 15px;
}

a:visited {
    color: #d0021b;
}

a:hover {
    text-decoration: underline;
}

body{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.cur {
    cursor: url("responsive-design/2744EFD6-B878-4DCB-B0D5-526F1B233733/9E1721B2-E123-44D1-BBA7-88E713A6A184@1x.png"), auto;
}

.header-img {
    margin: 10px 38px;
}


@media (max-width: 800px) {


    h2 {
        font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
        font-size: 22px;
        color: rgba(0,0,0,0.84);
        text-align: left;
        line-height: 39px;
        margin-top: 24px;
        margin-bottom: 6px;
    }

    h1 {
        font-size: 26px;
        line-height: 28px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    p {
        font-family: Georgia, Cambria, "Times New Roman", Times, serif;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.84);
        text-align: left;
        line-height: 22px;
        margin: 0;
    }

    .images {
        max-width: 100%;
        margin: 10px 20px;
    }

    ul {
        padding-left: 20px;
    }

    ul li {
        margin: 10px 0;
        display: block;
    }

    .header-img {
        margin: 10px 20px;
    }
}.n